<div class="container my-5">
  <div class="row">
    <div class="col-sm-3">
      <h2>会員情報編集</h2>
    </div>
  </div>
</div>
<% if @customer.errors.any? %>
<%= @customer.errors.count %>件のエラーが発生しました
<% @customer.errors.full_messages.each do |message| %>
<%= message %>
<% end %>
<% end %>
<div class="container">
  <%= form_with model: @customer, url: public_update_customer_path, local: true do |f| %>
<div class="row mt-3">
  <tbody>
    <tr>
      <th><%= f.label :名前 %></th>
      <td>
        （姓）<%= f.text_field :last_name, class: "form-control" %>
        （名）<%= f.text_field :first_name, class: "form-control" %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :フリガナ %></th>
      <td>
        （セイ）<%= f.text_field :last_name_kana, class: "form-control" %>
        （メイ）<%= f.text_field :first_name_kana, class: "form-control" %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :郵便番号（ハイフンなし） %></th>
      <td><%= f.text_field :postal_code, class: "form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :住所 %></th>
      <td><%= f.text_field :address, class: "form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :電話番号（ハイフンなし） %></th>
      <td><%= f.text_field :telephone_number, class: "form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :メールアドレス %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
    </tr>
  </tbody>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <%= f.submit "編集内容を保存", class: "btn btn-success" %>
  <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger" %>
<% end %>
</div>
