<div class="container mt-5">
  <h2>商品編集</h2>
</div>

<div class="col-sm-5">
  <%= form_with model @item, url: admin_item_path, local: true do |f| %>
  <table class="table">
    <tbody>
      <tr>
        <td><%= f.label :商品画像 %></td>
        <td><%= f.attachment_field :image %></td>
      </tr>
      <tr>
        <td><%= f.label :商品名 %></td>
        <td><%= f.text_field :name, placeholder: "商品名" %></td>
      </tr>
      <tr>
        <td><%= f.lebel :商品説明 %></td>
        <td><%= f.text_area :introduction, placeholder: "ここに説明文" %></td>
      </tr>
      <tr>
        <td><%= f.label :ジャンル %></td>
        <td><%= f.collection_select(:genre_id, Genre.all, :id, :name, prompt: "--選択してください--") %></td>
      </tr>
      <tr>
        <td><%= f.label :税抜価格 %></td>
        <td><%= f.text_field :price, placeholder: "1000" %></td>
      </tr>
      <tr>
        <td><%= f.label :販売ステータス %></td>
        <td>
          <label>
            <%= f.radio_button :is_active, :true %>
            <span>販売中</span>
          </label>
          <label>
            <%= f.radio_button :is_active, :false %>
            <span>販売停止中</span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
  <%= f.submit '変更を保存', class: 'btn btn-success' %>
  <% end %>
</div>