<div class="container">
  <div class="bg-light text-center">
    <h4>管理者ログイン</h4>
  </div>
  <div class="mx-auto">
    <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
    <div class="container">
      <div class="row mb-3">
        <%= f.label :メールアドレス, class: "col-md-6 text-center" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-md-6 form-control' %>
      </div>
      <div class="row mb-3">
        <%= f.label :パスワード, class: "col-md-6 text-center" %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'col-md-6 form-control' %>
      </div>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 px-0">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>


  </div>
  </div>
</div>
