<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h4>注文履歴詳細</h4>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">購入者</div>
    <%= link_to admin_customer_path(@order.customer.id), method: :get do %>
    <%= @order.customer.last_name %> <%= @order.customer.first_name %>
    <% end %>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">注文日</div>
    <%= 1 @order.created_at %>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">配送先</div>
    <% @order.full_address %>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">支払方法</div>
    <%= @order.payment_method_i18n %>
  </div>
  <div class="row mb-5">
    <div class="col-md-2">注文ステータス</div>
    <%= form_with model: @order, url: admin_order_path(@order.id), local: true do |f| %>
    <%= f.select :status, Order.statuses_i18n.invert %>
    <%= f.submit '更新', class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="row">
    <table class="table teble-hover table-inverse col-md-8">
      <thead class="bg-light">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
        </tr>
      </thead>
      <% @order.order_details.each do |order_detail| %>
      <% @sum += order_detail.price * order_detail.amount %>
      <tbody>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.price %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.price * order_detail.amount %></td>
          <td>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), local: true do |f| %>
            <%= f.select :making_status, OrderDetail.making_statuses_i18n_invert %>
            <%= f.submit '更新', class: "btn btn-success col-md-4 ml-5" %>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <div class="col-md-1 text-right">
      <%= @sum %>円<br>
      <%= @order.postage %>円<br>
      <%= @sum + @order.postage %>円
    </div>
  </div>
</div>